
	<h1 class = "post-title"><a href="{{ post.url }}">{{ post.title }}</a></h1>
	  <p class="author">
		<span class="meta">{{ post.date | date: "%e %b %Y" }}</span>
	  </p>
	  {%- assign dateCheck = post.date | date: "%s" | minus: cutoff -%}
	  {%- if dateCheck <= 0 -%}
		{%- if post.content contains "<a name='more'></a>" -%}
			{%- assign myExcerpt = post.content | split: "<a name='more'></a>" | first -%}
		{%- elsif post.content contains "</p>" -%}
			{%- assign myExcerpt = post.content | split: "</p>" | first -%}
		{%- elsif post.content contains "<br />" -%}
			{%- assign myExcerpt = post.content | split: "<br />" | first -%}
		{%- else -%}
			{%- assign myExcerpt = "" -%}
		{%- endif -%}
	  {%- else -%}
		{%- assign myExcerpt = post.excerpt -%}
	  {%- endif -%}
	  {%- if myExcerpt contains "<div class="footnotes" role="doc-endnotes">" -%}
		{%- assign myExcerpt = myExcerpt | split: "<div class="footnotes" role="doc-endnotes"> | first %}
		{%- assign myExcerpt = myExcerpt | split: "#fn:" -%}
		{%- assign myLink = post.url | append: "#fn:" -%}
		{%- assign myExcerpt = myExcerpt | join: myLink -%}
	  {%- endif -%}
	  <p>{{ myExcerpt }}</p>
	  <div class="permalink"><a href="{{ post.url }}">
	  {%- if post.content.size > myExcerpt.size -%}
	    Read more...
	  {%- else -%}
		Permalink
	  {%- endif -%}
	  </a> | <a href="{{ post.url }}#disqus_thread">0 Comments</a></div>